name: check

on:
  pull_request:
  push:
    branches: [ "master", "main" ]

permissions:
  contents: read

jobs:
  reapack-index-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: false

      - name: Install reapack-index
        run: gem install reapack-index

      - name: Validate repository (strict)
        run: reapack-index --check --no-commit .